dist
*.pkg.tar.zst

budgeteer/__pycache__/
budgeteer/migrations/__pycache__/
budgeteer/entities/__pycache__/
budgeteer/models/__pycache__/
budgeteer/prompts/__pycache__/
budgeteer/widgets/__pycache__/
budgeteer/widgets/utils/__pycache__/
budgeteer/prompts/validators/__pycache__/
budgeteer/prompts/completers/__pycache__/
test
